<div class="jumbotron">
<h1> Black Dingo Photo Database</h1>
<h2> Are you a photographer and want to be seen by dozens of companies?</h2>
<p>Click here to <%= link_to " Sign Up", "#", class:"btn btn-primary btn-default" %></p>
</div>